body{
	background-color: lightgreen
}
 .eye1{
	 animation-name:suddenlytop;
  animation-duration:3s;
}
.eye12{
   animation-name:suddenlyright;
  animation-duration:3s;
 
}
.eye22{
   animation-name:suddenlybot;
  animation-duration:1s;
  
}
.eye21{
   animation-name:suddenlyleft;
  animation-duration:1s;
}
.head{
   animation-name:suddenlyleft;
  animation-duration:6s;
}
.wrinkles{
 animation-name:suddenlytop;
  animation-duration:7s;
}
.nose{
 animation-name:suddenlyright;
  animation-duration:4s;
}
.mouth{
  animation-name:suddenlybot;
  animation-duration:5s;
  
}
.cap{

  animation-name:strange;
  animation-duration:7s;
}
.hair{
    animation-name:suddenlyright;
  animation-duration:7s;
}
@keyframes suddenlyright{
  from{
 transform: translateX(600px)
  }

  to{
 transform: translateX(0px)
  }
}
@keyframes suddenlyleft{
  from{
 transform: translateX(-600px)
  }

  to{
 transform: translateX(0px)
  }
}
@keyframes suddenlytop{
  from{
 transform: translatey(-600px)
  }

  to{
 transform: translatey(0px)
  }
}@keyframes suddenlybot{
  from{
 transform: translatey(600px)
  }

  to{
 transform: translatey(0px)
  }
}
@keyframes strange{
  from{
   transform: rotate(200deg);
  }

  to{
  transform: rotate(0deg);
  }
}
@keyframes agree{
  10%{
   transform: rotate(0deg);
  }
20%  {
  transform: rotate(-20deg);
  }
 35%  {
  transform: rotate(10deg);
  }
  60% {
  transform: rotate(-20deg);
  }
  80% {
  transform: rotate(10deg);
  }
  100%  {
  transform: rotate(=20deg);
  }

}
svg{
   animation-name:agree;
   animation-delay:7s;
  animation-duration:2s;
}