body{
background: #1a1917;
}
.left-menu {
    position: fixed;
    left: 0;
    top: 0 ;
    bottom:0;  
    width: 300px;
    background: #000;
    color: #fff;
    transform: translateX(-100%);
    transition: 1s;
}

.left-menu.active {
    border:none;
    transform: translateX(0);

}
.burger hr,.hide-menu hr{
    width:30px;
    border:2px solid white;
    margin-left: 0;
}
.burger, .hide-menu{
    display: inline-block;
    vertical-align: top; 
}
.smth{
    margin:20px;
 
}
.searchStyle input[type="submit"]{
background: transparent url(download.jpg) no-repeat center top;
    background-size: cover;
    border:none;
cursor: pointer; 
position: absolute;     
right: 0;
top:0;

}
 .smth #srch{
    width:40%;
    background-color: #361b02;
    border:2px solid #361b02;
    opacity: 0.7
    /*color:lightgrey;*/

    /*visibility: hidden;*/
}

.searchStyle{
    background-color: #361b02;
    padding-bottom: 15px;
    padding-top: 15px;
    padding-left: 15px;
       margin-bottom: 30px;
position: relative;
}

.check table {
    /*margin: 30px;*/
    /*clear:both; */
    background: #1f1a1a;
}
.check td{
    width:30%;
    text-align: left;
}
/*стиль для подчеркивания боков в меню*/

.searchStyle, .check, .dat,.CREATED, .DueDate,.MEMBERS,.TYPE,.CUSTOMER,.ProjectName {
    border-bottom-width: 2px; /* Толщина линии внизу */
    border-bottom-style: solid; /* Стиль линии внизу */
    border-bottom-color: orange; /* Цвет линии внизу */
}
/*стиль для календаря*/
 input[type="date"]{
    border:2px solid #361b02;
    width:97%;
    height: 20px;
    background-color: #361b02;
}
.dat{
    margin-top:30px;

    height:50px;
    background-color: #361b02;

}
/*стиль для таблицы*/

.mainTable{
    margin-left: 100px;
  border-collapse:collapse;
    width:80%;
    /*border:2px solid black;*/

    border-collapse: collapse;
}
.mainTable tr td,tr a{
    padding:30px;
    color:lightgray;
    text-decoration:none;
    text-align:end;
}
.mainTable th>a{
  display:inline-block;
   border-right: 1px solid lightgray;
   width:80px;
}
.mainTable tbody>tr:hover {
  
    background:#a0a8a3;
}
.mainTable thead{
    border-bottom: 1px solid lightgray;
    color:#f58300;
}
/*FORMA 2*/
.right-menu{
        position: fixed;
    right: 0;
    top: 0 ;
    bottom:0;  
    width: 300px;
    background: #000;
    color: #fff;
    transform: translateX(100%);
    transition: 1s;
    float:right;
}
.right-menu.active {
    border:none;
    transform: translateX(0);

}
.ProjectName{
    margin-top: 60px;
}
.CREATED, .DueDate,.MEMBERS,.TYPE,.CUSTOMER,.ProjectName{
    background-color: #361b02;
    padding-bottom: 15px;
    padding-top: 15px;
    padding-left: 15px;
       margin-bottom: 30px;
position: relative;
}
input[name='create']{
    background: #ff9d00;
    border:none;
cursor: pointer; 
position: absolute;  
padding:20px;


}
#footer{
        background: #ff9d00;
position: fixed;
width: 100%;
padding: 20px;
left:0;
text-align: center;
color:white;
bottom: 0;
}